<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

  <!--  <event name="sales_order_shipment_save_after">
       <observer name="custom_shipstatus_observer_changestatus" instance="Custom\ShipStatus\Observer\Changestatus" />
   </event> -->
   <event name="sales_order_shipment_save_after">
        <observer name="custom_shipstatus_observer_changestatus" instance="Custom\ShipStatus\Observer\Changestatus" />
    </event>

</config>