<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Controller\Adminhtml\Order">
        <plugin name="synchronizeOrderGrid"
                type="MageWorx\OrdersGrid\Plugin\SynchronizeOrderGrid"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>