<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <printshippinglabel>
            <general>
                <font>Courier</font>
                <fontsize>12</fontsize>
                <space>5</space>
                <width>255</width>
                <other_font>LinLibertineFont/LinLibertine_Re-4.4.1.ttf</other_font>
            </general>  
            <header>                
                <logo_width>50</logo_width>
                <logo_height>50</logo_height>
                <header_font>Courier-Oblique</header_font>
                <fontsize>9</fontsize>
                <other_font>LinLibertineFont/LinLibertine_It-2.8.2.ttf</other_font>                
                <header></header>
            </header>      
            <format>
                
                <order_id>2</order_id>
                <address>{prefix/} {firstname/} {middlename/} {lastname/} {suffix/}
{company/}
{street1/}
{street2/}
{street3/}
{street4/}
{city/}, {region/}, {postcode/}
{country/}
Phone: {telephone/}
Fax: {fax/}  
VAT: {vat_id/}</address>
            </format>    
        </printshippinglabel>
    </default>
</config>
